<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
  </head>
  <body>
    <h1>Shopping Cart</h1>

    <h3>Unagi Don</h3>
    <p>Price: RM50.00</p>
    <p>Quantity: 1</p>
    <br />
    <h3>Mazesoba</h3>
    <p>Price: RM30.00</p>
    <p>Quantity: 2</p>
    <br />
    <h3>Seafood Aglio Olio</h3>
    <p>Price: RM40.00</p>
    <p>Quantity: 1</p>
    <br />
    <h3>Macaroni & Cheese</h3>
    <p>Price: RM25.00</p>
    <p>Quantity: 1</p>
    <br />
    <form action="/checkout" method="post">
      <input type="submit" value="Proceed to Checkout" />
    </form>
  </body>
</html>
